body{
    background-color: black;
}
containor{
    width: 100%;
   
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #FFF0F5;
    padding: 10px;
    margin: 0;
}
.nav {
  width: 100%;
  margin-bottom: 0;
 
  float: left;
  padding-bottom: 0;
  background-color: #B22222; }

.nav li{
    display: inline;
    padding:2px;
   color: white;
    font-size: 20px;
}

#trafic{
    position: relative;
}

#trafic img{
    width: 100%;
    
}


#ins{
    position:absolute;
   
    top: 100px;
  left: 40px;
    color: white;
    font-size: 3em;   
}
#trans{
    position: absolute;
    top: 30%;
    left: 20%;
    width:60%;
    height: 75%;
    background-color: #F5F5F5;
    border: 2px solid gray;
    opacity: 0.7;
}
#trans1{
    position: absolute;
    top: 5%;
    left: 30%;
  text-align: center;
    font-size: 40px;
    padding: 0px;
    opacity: 1.0;
}
#trans7{
    position: absolute;
    top: 85%;
    left: 30%;
  text-align: center;
    font-size: 30px;
    padding: 0px;
    opacity: 0.8;
    color: #228B22;
}
#trans2{
    position: absolute;
    top: 50%;
    left: 30%;
  
    font-size: 18px;
    padding: 0px;
        
}
#trans3{
    position: absolute;
    top: 50%;
    left: 60%;
  
    font-size: 18px;
    padding: 0px;
        
}
#trans4{
    position: absolute;
    top: 60%;
    left: 30%;
  
    font-size: 18px;
    padding: 0px;
        
}
#trans5{
    position: absolute;
    top: 60%;
    left: 60%;
  
    font-size: 18px;
    padding: 0px;       
}
#trans6{
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 18px;
    padding: 0px;       
}


.text{
   opacity: 0.9; 
}
input{
    height: 40px;
    width: 200px;
}
select{
    height: 40px;
    width: 200px;
    font-size: 20px;     
}
button{
    height: 50px;
    width: 200px;
    border-radius: 15px;
  background: #228B22;
    color: white;
    font-size: 25px;
     opacity: 0.9;
    
}

#des{
   padding: 50px;
    text-align: center;
    background-color: gainsboro;
    font-size: 30px;
    
}


.info{
    
    background-color: white;
    width: 100%;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    
}
#info1{
 border: 2px solid #C0C0C0;
    padding: 30px;
    width: 30%;
     border-top :2px solid black;
}
#info2{
    border: 2px solid #C0C0C0; 
    padding: 30px;
    width: 30%;
    border-top :2px solid black;
}
.first{
    color: slategray;
    font-size: 30px;
     opacity: 0.9;
}
.second{
    color:black;
    font-size: 20px;
    font-weight: bold;
}

footer{
  background-color: black; 
   
    width: 100%;
    height: 40px;
   
   
}
.nav1 {
   
  width: 100%;
  margin-bottom: 0;
  float: left;
  padding-bottom: 0;
  }

.nav1 li {
  display: inline;
  color: white;
  margin: 1%;
  font-size: 90%; }


#logofinal  {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: black;
   

   
}
.textfinal{
    text-align: center;
   color: white;
    background-color: black;
}
.space{
    background-color: white;
    width: 100%;
    height: 15%;
}

.markt {
  list-style-type: none;
     font-size: 20px;
   padding: 0px;
    
}
.market li{
    list-style-type: none;
    padding: 0px;
}

.markt li:before {
    margin-left: 0px;
  content:"\2714\0020";
    color: #40E0D0;
    font-weight: bold;
}
.bord{
    border-top: 1px solid ;
    border-color: darkgray ;
    font-size: 20px;
    color: slategray;
    
}
@media  (max-width: 799px) {
  #trans {
   display: none;
  }
    .text{
        color:deepskyblue;
    }
    #trans2{
       left: 10%;
        
    }
     #trans3{
       left: 40%;
        
    }
    #trans4{
        left: 10%;
    }
    #trans5{
        left: 40%;
    }
    #trans6{
        left: 25%;
    }
    #des{
        text-align: left;
        font-size: 150%
    }
    .space{
        display: none;
    }
    img{
       opacity: 0.5; 
        
    }
}

@media  (max-width: 1200px) and (min-width: 800px) {
  #trans {
   display: none;
  }
    .text{
        color:deepskyblue;
    }
    #trans2{
       left: 10%;
        
    }
     #trans3{
       left: 40%;
        
    }
    #trans4{
        left: 10%;
    }
    #trans5{
        left: 40%;
    }
    #trans6{
        left: 25%;
    }
    #des{
        text-align: left;
        font-size: 150%
    }
    .space{
        display: none;
    }
    img{
       opacity: 0.5; 
        
    }
    .info{
        display: none;
    }
}